/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@font-face {
  font-family: main;
  src: url('../public/fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}

:root {
  --text-color: #ffffff;
  --theme-color: #0f449d;
  --hightlight-color: rgb(237, 192, 67);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--theme-color);
}

/* start page styles */

#main-name {
  position: absolute;
  color: var(--text-color);
  text-align: center;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: main;
  font-size: 2rem;
}

#main-name span {
  transition: 2s;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#main-name span:hover {
  font-size: 6rem;
  cursor: grab;
  color: var(--hightlight-color);
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#links img {
  height: 40px;
}

#links img:hover {
  border-bottom: 1px solid var(--hightlight-color);
}

#profile_img {
  height: 150px;
}

hr {
  position: relative;
  border: 1px solid var(--text-color);
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
}
