/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@font-face {
  font-family: main;
  src: url('../public/fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}

:root {
  --text-color: #ffffff;
  --theme-color: #0f449d;
  --hightlight-color: rgb(237, 192, 67);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--theme-color);
}

/* start page styles */

#main-name {
  position: absolute;
  color: var(--text-color);
  text-align: center;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: main;
  font-size: 2rem;
}

